--maxwidth 100
--rules wrap,wrapArguments,wrapSingleLineComments
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--exclude Pods,falcon/core/Protobuf,falcon/Resource/Localization/Strings+Generated.swift,falcon/Resource/XCAssets+Generated.swift,.build,SPM,vendor,falconTests,falconUITests
